name: CI build docker container

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  build_and_upload:
    name: Docker build and upload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build project with Maven (native image)
        run: ./mvnw package -Dnative

      - name: Create target directory
        run: mkdir -p target

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: src/main/docker/Dockerfile.native
          tags: ${{ env.REGISTRY }}/taixmiguel/global-logger:latest
          platforms: linux/amd64,linux/arm64
